body{
  background: linear-gradient(to right, #0400ff, #00ccff);
  font-family: Arial, sans-serif;
}

.list{
  max-width: 500px;
  margin: 0 auto;
  padding-top: 25px;
}

.list h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 10px;
  text-align: center;
}

.app-description{
  width: 80%;
  margin: 0 auto 20px auto;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.guest-message{
  text-align: center;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;

}

.guest-message a{
  color:#000000;
}

.items-container{
  max-width: 100%;
  margin: 0 auto;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  border-top: 2px solid #353131;
}

.no-expenses{
  border-top: none;
}

.items-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-container form {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.error-message {
  margin-top: 10px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.addExpense-form .item-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
}

.addExpense-form .item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.amount-container::before {
  content: "$";
  font-size: 1.4rem;
  margin: 0 2px;
  /* margin-right: 0.2rem; */
}

.amount-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* width: 40%; */
}

.submit-btn {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 40% 55% 5%; */
  padding: 5px 5px;
  border-bottom: 2px solid #353131;
}

.item-container p {
  font-size: 1.4rem;
}

.delete-icon {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: red;
  cursor: pointer;
}

/* input:focus {
  box-shadow: 0 0 10px #f24c4c;
  transition: all 0.2s ease-in-out;
} */

.items-container .total-expenses{
  width: 100%;
  padding: 15px 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.logout-btn{
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #574c4c;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

@media only screen and (max-width: 768px) {
  .list{
    padding: 25px 10px 0 10px;
  }
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .list{
    padding-top: 10px;
  }
  .form-container{
    display: flex;
  }
  .submit-btn{
    display: block;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .form-container{
    display: block;
  }
  .item-text{
    width: 100%;
  }
  .item-amount{
    width: 100%;
    margin-top: 10px;
  }
  .submit-btn{
    display: block;
    width: 120px;
    height: 45px;
  }
  .logout-btn{
    width: 120px;
    height: 45px;
  }
}