ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.fa-xmark {
  /* height: 50px;
  width: 50px;
  object-fit: cover; */
  color: red;
  font-size: 16px;
}

button {
  /* display: block;
  width: 100%; */
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}
