body{
  background: linear-gradient(to right, #0400ff, #00ccff);
  font-family: Arial, sans-serif;
}

.list{
  /* width: 50%; */
  max-width: 400px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  /* width: 80%; */
  max-width: 100%; /* you can use any value that works for you */
  margin: 0 auto;
}

.form-container form {
  max-width: 100%;
  margin: 0 auto;
}

/* .form-container input[type="text"] {
  flex: 0 0 70%;
  display: block;
  padding: 0.5rem;
  margin-right: 0.5rem;
} */

.items-container{
  display: flex; /* enables flexbox layout */
  flex-wrap: wrap; /* allows items to wrap onto new rows if needed */
  justify-content: space-between; /* distributes items evenly along the main axis */
  align-items: center; /* aligns items along the cross axis */
}

.error-message {
  font-size: 1.2rem;
  text-align: center;
}

.form-container, .item-container {
  display: flex; /* enables flexbox layout for the form and each item */
  align-items: center; /* aligns items along the cross axis */
}

.form-container input {
  flex: 1; /* makes each input take up an equal amount of space */
  width: 80%;
}

.item-container span {
  flex: 2; /* makes the text and price take up the majority of the space */
}

.item-container svg {
  flex: 1; /* makes the 'x' icon take up a relatively small portion of the space */
}

.item-container {
  display: flex;
  width: 100%;
  align-items: center;
  border-top: 2px solid #353131;
}

.item-container p {
  font-size: 1.5rem;
}

.item-text {
  flex: 6;
}

.item-price {
  flex: 1; 
}

.delete-icon {
  text-align: right;
  font-size: 24px;
  color: red;
}

.item-container:last-child {
  border-bottom: none;
}

.no-border{
  border: none;
}

.price-container::before {
  content: "$";
  font-size: 1.4rem;
  margin-right: 0.2rem;
}

.price-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.form-container input[type="number"] {
  display: block;
  padding: 0.5rem;
}

h1{
  text-align: center;
  font-size: 2.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

span {
  flex: 1;
  font-size: 18px;
}

svg{
  font-size: 24px;
  color: red;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 10px;
  flex: 1;
}

input:focus {
  box-shadow: 0 0 10px #f24c4c;
  transition: all 0.2s ease-in-out;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
